:root {
  background-color: lightgray;
}
.app {
  text-align: center;
  display: flex;
}

.app__button {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.app__button-prev,
.app__button-next {
  width: 50px;
  color: white;
  background-color: darkgreen;
}
